h1 {
	font-size: 55px;
}
h1 {
  font-family: 'Courier New', monospace;
}
h1 {
  top: 50px;
  right: 100px;
}
body {
    background-color: #104a63;
    color: #ffffff;
}

img {
    margin-left: 50px;
}